# gitignore 

*__pycache__*
x86_64-linux*
i686-linux*
x86_64-darwin*
aarch64-darwin*
aarch64-linux*
armv6l-linux*
armv7l-linux*
.othermachines*
*.Pike
*.CoffeScript
*.Vim
.idea*
.ipynb_endpoint*
.ipynb_entrypoints*
.ipynb_checkpoints*
*.pdf
*.npz
_storaged.cache/*
_data/*
build/*
*_local_*
GNUmakefile
cabul-dev
dist
dist-install
ghc.mk
.cabal-sandbox
cabal.sandbox.config
.hsenv
*~
dist-newstyle/
cyria*
