env:
 # Note: We have to use Cabal 2.4 with GHC 7.0 since for some reason
 # builds of "text" fail with GHC 7.0 and Cabal versions prior to 2.4
 # https://github.com/haskell/bytestring/issues/213
 # With Cabal 2.4 we also get improved syntax in cabal.project files,
 # supporting remote sources, and other goodies, so use it across the
 # board.
 #
 - GHCVER=8.10.1 CABALVER=3.2
 - GHCVER=8.8.3 CABALVER=3.0
 - GHCVER=8.6.5 CABALVER=2.4
 - GHCVER=8.4.4 CABALVER=2.4
 - GHCVER=8.2.2 CABALVER=2.4
 - GHCVER=8.0.2 CABALVER=2.4
 - GHCVER=7.10.3 CABALVER=2.4
 - GHCVER=7.8.4 CABALVER=2.4
 - GHCVER=7.6.3 CABALVER=2.4
 - GHCVER=7.4.2 CABALVER=2.4
 - GHCVER=7.2.2 CABALVER=2.4
 - GHCVER=7.0.4 CABALVER=2.4

 ### The head in "ppa", currently 8.7, is no longer worth testing.
 # - GHCVER=head  CABALVER=2.4

matrix:
  allow_failures:
   - env: GHCVER=head  CABALVER=2.4

before_install:
 - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
 - travis_retry sudo apt-get update
 - travis_retry sudo apt-get install cabal-install-$CABALVER ghc-$GHCVER
 - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH
 - cabal --version

install:
 - travis_retry cabal update

script:
 - cabal v2-configure; cabal v2-build
 - cabal v2-sdist -o .
 # Remove to enable build of sdist.
 - rm -f cabal.project
 - rm -f tests/test-builder.tix
 - (cd tests; cabal v2-configure; cabal v2-test)
 # "cabal check" disabled due to -O2 warning
 - export SRC=$(cabal info . | awk '{print $2; exit}');
   if [ -f "$SRC.tar.gz" ]; then
      cabal get "./$SRC.tar.gz";
      (cd "$SRC"; cabal v1-install --force-reinstalls .);
   else
      echo "expected '$SRC_TGZ' not found";
      exit 1;
   fi
