env:
 # With Cabal 2.4 we also get improved syntax in cabal.project files,
 # supporting remote sources, and other goodies, so use it across the
 # board.  This branch is not GHC 7.x compatible, so 8.x-only.
 #
 - GHCVER=8.0.2 CABALVER=2.4
 - GHCVER=8.2.2 CABALVER=2.4
 - GHCVER=8.4.4 CABALVER=2.4
 - GHCVER=8.6.5 CABALVER=2.4
 - GHCVER=8.8.3 CABALVER=3.0
 - GHCVER=8.10.1 CABALVER=3.2
 ### The head in "ppa", currently 8.7, is no longer worth testing.
 # - GHCVER=head  CABALVER=2.4

matrix:
  allow_failures:
   - env: GHCVER=head  CABALVER=2.4

before_install:
 - travis_retry sudo add-apt-repository -y ppa:hvr/ghc
 - travis_retry sudo apt-get update
 - travis_retry sudo apt-get install cabal-install-$CABALVER ghc-$GHCVER
 - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH
 - cabal --version

install:
 - travis_retry cabal update

script:
 - cabal v2-configure; cabal v2-build
 - (cd tests; cabal v2-configure; cabal v2-test)
 - mkdir -p dist; cabal v2-sdist -o dist
 # "cabal check" disabled due to -O2 warning
 - export SRC_TGZ=$(cabal info . | awk '{print $2 ".tar.gz";exit}') ;
   cd dist/;
   if [ -f "$SRC_TGZ" ]; then
      # Not sure about this step with Cabal 3.x
      cabal v1-install --force-reinstalls "$SRC_TGZ";
   else
      echo "expected '$SRC_TGZ' not found";
      exit 1;
   fi
