name: ci
on:
  push:
    branches:
      - master
      - bytestring-0.11
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        ghc: ['8.0', '8.2', '8.4', '8.6', '8.8', '8.10', '9.0', '9.2.0.20210821']
        include:
        - os: windows-latest
          ghc: 'latest'
        - os: macOS-latest
          ghc: 'latest'
        - os: ubuntu-16.04 # testing that cbits are compatible with gcc-5
          ghc: 'latest'
    steps:
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v1
      id: setup-haskell-cabal
      with:
        ghc-version: ${{ matrix.ghc }}
    - name: Update cabal package database
      run: cabal update
    - uses: actions/cache@v2
      name: Cache cabal stuff
      with:
        path: |
          ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
          dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc }}
    # We rebuild tests several times to avoid intermittent failures on Windows
    # https://github.com/haskell/actions/issues/36
    # We also use --enable-tests and --enable-benchmarks to avoid
    # test and bench commands from reconfiguring and thus rebuilding.
    - name: Test
      run: |
        cabal sdist -z -o .
        cabal get bytestring-*.tar.gz
        cd bytestring-*/
        echo packages:. > cabal.project
        echo allow-newer:splitmix:base >> cabal.project
        bld() { cabal build bytestring:tests --enable-tests --enable-benchmarks; }
        bld || bld || bld
        cabal test --enable-tests --enable-benchmarks --test-show-details=direct all -j1
    - name: Bench
      run: |
        cd bytestring-*/
        cabal bench --enable-tests --enable-benchmarks --benchmark-option=-l all
    - name: Haddock
      run: |
        cd bytestring-*/
        cabal haddock
