name: ci
on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macOS-latest]
        ghc: ['8.6', '8.8', '8.10']
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-haskell@v1.1.3
      id: setup-haskell-cabal
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: '3.2'
    - name: Update cabal package database
      run: |
        cabal update
        cabal freeze
    - uses: actions/cache@v2
      name: Cache cabal stuff
      with:
        path: |
          ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
          dist-newstyle
          tests/dist-newstyle
          bench/dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-
    - name: Build
      run: |
        cabal build all
    - name: Test
      run: |
        cd tests && cabal test
    - name: Haddock
      run: |
        cabal haddock
    - name: SDist
      run: |
        cabal sdist all
    - name: Bench
      run: |
        cd bench
        cabal bench -O0 --benchmark-options "--quick --min-duration=0 --include-first-iter"

  build-freebsd:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      id: build-freebsd
      uses: vmactions/freebsd-vm@v0.0.8
      with:
        usesh: true
        prepare: pkg install -y ghc hs-cabal-install
        run: |
          freebsd-version
          cabal update
          cabal build
          (cd tests; cabal test)
          (cd bench; cabal bench -O0 --benchmark-options "--quick --min-duration=0 --include-first-iter")
          cabal haddock
          cabal sdist all

